*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    color: #73767b;
}

/*MAIN*/
main{
    position: relative;
    display: flex;
    background-color: #141922;
    /*DEBUG*/
    width: 100%;
    height: 100%;
}

#contenitor{
    display: flex ;
    padding: 100px 0;
    width: 100%;
}

/*SETTING NAV*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: black;
    width: 250px;
    height: calc(100% - 100px); 
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#logo{
    width: 80%;
    line-height: 50px;
}

ul{
    list-style: none;
    line-height: 2rem;
}

i{
    margin-right: 0.5rem;
}

.home-icons{
    font-size: 25px;
}

.playlist-icons{
    font-size: 35px;
}

#playlist{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

h3 , h2{
    color: white;
}

#create-playlist{
    margin:2% 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}
/*Nav account section*/
#account{
    width: 100%;
    align-content: flex-end;
}
#account-instal{
    font-size: 15px;
    font-weight: 600;
}
#account hr{
    width: 90%;
    margin: 0.5rem 0;
    border: solid 0.5px;
    color:#73767b ;
}
#account-user {
    display: flex;
    align-items: center;
    font-size: 30px;
}

#account-user h4{
    color: white;
    font-size: 16px;
}

/*HEADER*/
header{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.219);
    width: calc(100% - 250px);
    height: 100px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 900;
    margin-left: auto;
}

button{
    padding: 10px 30px;
    background-color: transparent;
    border:solid 2px white;
    border-radius: 40px;
}

a{
    text-decoration: none;
    color: #73767b;
    font-weight: 600;
}

header a {
    font-size: 15px;
    color: white;
}

header div{
    margin-right: 5px;
}

/*CONTENITOR MAIN*/
#contenitor{
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    margin-left: auto;
}
/*first section*/ 
#content-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem; 
}

section{
    width: 100%;
    padding: 1rem;
}
/*second section*/
.images-contenitor{
    margin: 2rem 0;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.images-contenitor img{
    margin-bottom: 1rem;
    width: 100%;
}
.brani{
    width:calc(100% / 6 - 10px) ;
}
img{
    width: 100%;
}

/*Third section*/
h5{
    margin: 1rem 0;
}

/*Fourth section*/
.img-circle{
    clip-path: circle()
}

/*FOOTER*/
footer{ 
    position: fixed;
    bottom: 0;
    z-index: 3000;
    background-color: #282828;
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer i , h5{
    color: white;
}

footer > section{
    width: calc(100% / 3);
    display: flex;   
    align-items: center;
    gap: 1rem;
}
/*Left player*/
#left-player{
    justify-content: flex-start;
  
}

#img-player{
    width: 10%;
}
footer h5{
    margin: 0;
}
#left-player i{
    color: #73767b;
}

/*Central player*/
#central-player{
    flex-direction: column;
    justify-content: center;
 
}

#central-player-up{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.payer-hr-bar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer hr{
    width: 80%;
    border: solid 2px #73767b;
}
.fa-circle-play{
    font-size: 40px;
}

/*Right player*/
#right-player{
    justify-content: flex-end;
}

.volum{
    width: 40%;
}


@media screen and (max-width: 1020px) {

    .brani{
        width:calc(100% / 4 - 10px) ;
    }

    #content-menu{
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media screen and (max-width: 760px) {

    .brani{
        width:calc(100% / 2 - 10px) ;
    }

  
}